* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 16px;
}
a {text-decoration: none;}
ul {list-style: none;}
button {background-color: transparent; border: none; text-align: center}

.d-none {display: none !important}
.d-flex {display: flex !important}
.d-block {display: block !important}
.flex-row {flex-direction: row !important}
.flex-column {flex-direction: column !important}
.container {
    margin: auto;
    padding: 5px 10px;
    display: flex; 
}
#header nav {
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.no-js #header nav {
    justify-content: center;
}
.no-js #header .navbar-toggler {
    display: none;
}
#header #navbar {
    display: none;
    width: 100%;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: black;
}
.no-js #header #navbar,
#header #navbar.open {
    display: block;
}
#header #navbar li a {
    text-transform: uppercase;
    display: block;
    padding: 5px 10px;
    color: #ffffff
}
#header #navbar li.active a{
    background-color: blue;
}

#banner, #main {
    display: flex;
    justify-content: center;
}
#banner {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 150px);
}
#banner .container {
    justify-content: space-between;
    padding: 0 10px;
    margin: 0;
}
#banner .headline {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 4px #555555;
    max-width: 320px;
}
#banner .headline h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}
#banner .headline h2 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards .card-1,
.cards .card-2,
.cards .card-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    min-width: 300px;
    max-width: 300px;
    padding: 15px 20px;
}
.cards .card-1,
.cards .card-2 {
    justify-content: space-between;
}
.cards .card-1 {
    background-color: #39aae1;
}
.cards .card-2 {
    background-color: #0079c7;
}
.cards .card-3 {
    background-color: #2b4c99;
}
.cards .cards-title {
    flex: 1;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.cards .cards-main {
    flex: 1;
    text-align: justify;
    margin-bottom: 10px;
}
.cards .cards-buttom {
    flex: 1;
    display: block;
    margin-bottom: 10px;
}
.cards .cards-main .hours {
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    border-bottom: 1px solid #cac0c0;
}
.cards .cards-buttom a {
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}
.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.widget-title-text {
    color: #000;
    font-size: 20px;
    font-weight: bold; 
}
.widget-title-bar {
    width: 60px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.widget-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}
#main > div {
    flex-direction: column;
}
#main article {
    flex: 1;
    min-width: 300px;
}
#main article .news-data {
    display: flex;
}
#main article .news-posted-at,
#main article .news-comments {
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
#main article .news-posted-at {
    background-color: #2b4c99;
    margin-right: 2px;
}
#main article .news-comments {
    background-color: #39aae1;

}
#main article .news-thumbnail {
    margin-top: 30px;
}
#main article .news-thumbnail img {
    width: 100%;
    height: auto;
}
#main article .news-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
    font-size: 20px
}
#main article .news-resume {
    color: #5c5c5c;
    line-height: 19px;
    margin-bottom: 30px;
    text-align: justify;
}

#main aside section .widget-body {
    display: flex;
    flex-direction: column;
}

#footer {
    background-color:#1e1e1e;
    display: flex;
    justify-content: center;
    color: #fff !important;
}
#footer .container {
    padding: 0px !important;
}
#footer .footer-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
#footer .footer-area section {
    min-width: 300px;
    max-width: 300px;
}
#footer .footer-area section,
#footer .footer-area section div.post a {
    flex: 1;
    min-width: 300px;
    padding: 5px 10px;
    color: #929090;
    text-align: justify;
}
#footer .footer-area section div.post a {
    display: block;
}
#footer .footer-area section div.post a p {
    margin-bottom: 5px;
}
#footer .footer-area section div.post a span.date {
    color: #0079c7;
}
#footer .footer-area section > div {
    margin: 15px 0;
}
#footer .footer-area section > div.widget-title {
    margin: 10px 0;
}
#footer .footer-area section > div.post {
    margin: 5px 0;
}
#footer .footer-area section div .title,
#footer .footer-area section div .address .contact a {
    color: #c5c3c3;
    font-weight: bolder;
}
#footer .footer-area section div .address {
    display: flex;
    justify-content: space-between;
}
#footer .footer-area section div .address div {
    flex: 1;
    text-align: start;
}
#footer .footer-area section div .address div span {
    display: block;
    font-size: 14px;
}
#footer .footer-area section div .address .contact {
    display: flex;
    flex-direction: column;
    text-align: end;
}
#footer .footer-area section .widget-title-text {
    color: #fff;
    /* font-size: 16px; */
    font-weight: 500;
}
#footer .footer-copy {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #5c5c5c;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
}
.input-row {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.input-row label {
    margin-bottom: 5px;
}
.input-row input,
.input-row textarea {
    padding: 5px;
    background-color: transparent;
    border: 2px solid #929090;
    border-radius: 5px;
    color: #fff;
}
.input-row textarea {
    overflow: hidden;
    outline: none;
    resize: none;
}
.input-row input:focus,
.input-row textarea:focus {
    outline: none;
}
.input-row input[type="submit"] {
    background-color: #00ace4;
    border: none;
    color:#fff;
    font-weight: bold;
    cursor:pointer;
}
.input-row input[type="submit"]:hover {
    background-color: #2b4c99;
}
#contact .form-error {
    color: #ff4949;
    padding-top: 5px;
}
/* Braking Points - Start */
    @media only screen and (min-width: 0px) {
        .container {
            max-width: 310px;
        }
    }
    @media only screen and (min-width: 320px) {
        .container {
            max-width: 420px;
        }
    }
    @media only screen and (min-width: 480px) {
        .container {
            max-width: 720px;
        }
        .d-td-none {display: none !important}
        #header #navbar {
            position: relative;
            display: flex;
            background-color: transparent;
            top: inherit;
            right: inherit;
            width: auto;
        }
        #header #navbar ul {
            display: flex;
        }
        #header #navbar li a {
            margin: 2px;
            padding: 10px;
            color: #727272;
            border-radius: 4px;
        }
        #header #navbar li.active a,
        #header #navbar a:hover {
            color:#ffffff;
            background-color: #39aae1;
        }
        #main article {
            margin: 0 10px;
            min-width: 290px;
            max-width: 350px;
        }
    }
    @media only screen and (min-width: 480px) and (max-width: 650px){
        #header nav {
            justify-content: center;
        }
    }
    @media only screen and (min-width: 768px) {
        .container {
            max-width: 960px;
        }
        .widget-title {
            align-items: flex-start;
        }
        #header nav {
            justify-content: space-between;
        }
        #main > div {
            flex-direction: row;
        }
        #main > div > section {
            flex: 2;
        }
        #main > div > aside {
            flex: 1;
            margin-left: 10px;
        }
        #main article {
            margin: 0 10px;
            min-width: 250px;
        }
        
    }
    @media only screen and (min-width: 920px) {
        .cards .card-1,
        .cards .card-2,
        .cards .card-3,
        #footer .footer-area section {
            max-width: 100%;
        }
    }
/* Braking Points - End */
